<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
    
	<Compile Include="ShipmentRelationBP\ShipmentImportBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="ShipmentRelationBP\ReceivementImportBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="ShipmentRelationBP\DeleteShipmentProcessBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="ShipmentRelationBP\DeleteReceivementProcessBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="ShipmentRelationBP\ReceivementApproveBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="ShipmentRelationBP\ShipmentApproveBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="ProductionRelationBP\ProductionOrderImportProcessBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="ProductionRelationBP\RcvProductionIssueProcessBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="ProductionRelationBP\ProductionOrderDeleteProcessBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="ProductionRelationBP\RejProductionIssueProcessBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="ProductionRelationBP\PickListImportBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="ProductionRelationBP\AddProjectBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="OtherBillImportBP\TransferApplyImportBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="OtherBillImportBP\PMRtnImportBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="OtherBillImportBP\ExpenseCostImportBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="OtherBillImportBP\TransferFormImportAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
        
	<Compile Include="WarehouseRelationBP\ProductionInWarehouseBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="WarehouseRelationBP\ProductionOutWarehouseBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="WarehouseRelationBP\MiscTranInProcessBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    
	<Compile Include="WarehouseRelationBP\MiscTranOutProcessBPAgent.cs" > 
	    <Inproject>true</Inproject>
	</Compile>

  </ItemGroup>
  <ItemGroup>
    <Reference Include="System" />
    <Reference Include="System.Data" />
    <Reference Include="System.Xml" />
    <Reference Include="System.ServiceModel" />
    <Reference Include="UBF.System, Version=1.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
        <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UBF.System.dll</HintPath>
        <SpecificVersion>False</SpecificVersion>
        <Private>False</Private>
   </Reference>
    <Reference Include="UFSoft.UBF.Util.Data, Version=2.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Util.Data.dll</HintPath>      
      <SpecificVersion>False</SpecificVersion>
       <Private>False</Private>
    </Reference>
    <Reference Include="UFSoft.UBF.Business, Version=2.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Business.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
       <Private>False</Private>
   </Reference>
    <Reference Include="UFSoft.UBF.PL, Version=2.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.PL.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
       <Private>False</Private>
    </Reference>
    <Reference Include="UFSoft.UBF.View.Query.dll, Version=2.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.View.Query.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
      <Private>False</Private>
    </Reference>
<Reference Include="UFSoft.UBF.Service, Version=1.0.0.0, Culture=neutral, processorArchitecture=MSIL">
      <SpecificVersion>False</SpecificVersion>
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Service.dll</HintPath>
       <Private>False</Private>
    </Reference>
    <Reference Include="UFSoft.UBF.Execution, Version=2.0.0.1, Culture=neutral, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Execution.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
       <Private>False</Private>
    </Reference> 
    <Reference Include="UFSoft.UBF.AopFrame, Version=2.0.0.1, Culture=neutral, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.AopFrame.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
        <Private>False</Private>
   </Reference> 
  <Reference Include="UBFEngineHosting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
    <SpecificVersion>False</SpecificVersion>
    <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UBFEngineHosting.dll</HintPath>
    <Private>False</Private>
  </Reference>
 
    <Reference Include="UFSoft.UBF.MD, Version=1.0.0.0, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
        <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.MD.dll</HintPath>
        <SpecificVersion>False</SpecificVersion>
        <Private>False</Private>
   </Reference>
    <Reference Include="UFSoft.UBF.Sys.Database, Version=1.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
        <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Sys.Database.dll</HintPath>
        <SpecificVersion>False</SpecificVersion>
        <Private>False</Private>
   </Reference>


  </ItemGroup>
  <ItemGroup>
    <ProjectReference Include="..\Deploy\UFIDA.U9.Cust.ChuangYeRenBillImportBP.Deploy.csproj">
      <Project>{75F2BB61-0FFD-402F-B2F9-5CAF0F818FAA}</Project>
      <Package>{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}</Package>
      <Name>UFIDA.U9.Cust.ChuangYeRenBillImportBP.Deploy</Name>
    </ProjectReference>

  </ItemGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
    <DocumentationFile>.\bin\Debug\UFIDA.U9.Cust.ChuangYeRenBillImportBP.Agent.XML</DocumentationFile>
  </PropertyGroup>
  <PropertyGroup Condition="">
    <PostBuildEvent>
	if exist "$(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\" goto copyfile
	Md "$(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\"
	:copyfile
	Copy $(TargetDir)\UFIDA.U9.Cust.ChuangYeRenBillImportBP.Deploy.dll $(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\  
	Copy $(TargetDir)\UFIDA.U9.Cust.ChuangYeRenBillImportBP.Deploy.pdb $(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\  
	Copy $(TargetDir)\UFIDA.U9.Cust.ChuangYeRenBillImportBP.Agent.dll $(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\  
	Copy $(TargetDir)\UFIDA.U9.Cust.ChuangYeRenBillImportBP.Agent.pdb $(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\  
	Copy $(TargetDir)\UFIDA.U9.Cust.ChuangYeRenBillImportBP.Agent.xml $(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\  
    </PostBuildEvent>
   </PropertyGroup> 
</Project>