<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>

    	<Compile Include="EnumData.cs" 	/>
  </ItemGroup> 
  <ItemGroup>
    <EmbeddedResource Include="Resource.resx" />
  </ItemGroup>
  <ItemGroup>
    <Compile Include="Resource.Designer.cs">
          <DependentUpon>Resource.resx</DependentUpon>
    </Compile>
  </ItemGroup>
  <ItemGroup>
    <Reference Include="System" />
    <Reference Include="System.Data" />
    <Reference Include="System.Xml" />  
    <Reference Include="System.Runtime.Serialization"/>
    <Reference Include="UFSoft.UBF.Business, Version=2.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Business.dll</HintPath>      
      <SpecificVersion>False</SpecificVersion>
      <Private>False</Private>
   </Reference>
    <Reference Include="UFSoft.UBF.PL, Version=2.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.PL.dll</HintPath>      
      <SpecificVersion>False</SpecificVersion>
      <Private>False</Private>
    </Reference>
    <Reference Include="UFSoft.UBF.Execution, Version=2.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Execution.dll</HintPath>      
      <SpecificVersion>False</SpecificVersion>
      <Private>False</Private>
    </Reference>
    <Reference Include="UFSoft.UBF.Util.Data, Version=2.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Util.Data.dll</HintPath>      
      <SpecificVersion>False</SpecificVersion>
      <Private>False</Private>
    </Reference>
    <Reference Include="UBF.System, Version=1.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UBF.System.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
      <Private>False</Private>
    </Reference>
    <Reference Include="UFSoft.UBF.AopFrame, Version=2.0.0.1, Culture=neutral, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.AopFrame.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
        <Private>False</Private>
   </Reference> 
    <Reference Include="UFSoft.UBF.Sys.Resources.Runtime, Version=1.0.0.0, Culture=neutral, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Sys.Resources.Runtime.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
      <Private>False</Private>
    </Reference>
 
    <Reference Include="UFSoft.UBF.Service, Version=2.0.0.1, Culture=neutral, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Service.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
        <Private>False</Private>
   </Reference> 

  </ItemGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
    <DocumentationFile>.\bin\Debug\UFIDA.U9.Cust.ChuangYeRenBillImportBP.Deploy.XML</DocumentationFile>
  </PropertyGroup>
   <PropertyGroup Condition="">
     <RunPostBuildEvent>OnOutputUpdated</RunPostBuildEvent>
     <PostBuildEvent>
	Md $(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\
	Copy $(TargetDir)\UFIDA.U9.Cust.ChuangYeRenBillImportBP.Deploy.dll $(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\ 
	Copy $(TargetDir)\UFIDA.U9.Cust.ChuangYeRenBillImportBP.Deploy.pdb $(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\ 
	Copy $(TargetDir)\UFIDA.U9.Cust.ChuangYeRenBillImportBP.Deploy.xml $(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\ 
    </PostBuildEvent>
   </PropertyGroup>
   </Project>