<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
	<Compile Include="UBFAssebmlyInfo.cs" > 
	    <Inproject>true</Inproject>
	</Compile>	
    <None Include="UFIDA.U9.Cust.ChuangYeRenBillImportBP.ubfsvc">
      <Inproject>true</Inproject>
      <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
    </None>

  </ItemGroup>
  <ItemGroup>
  
	<Compile Include="ShipmentRelationBP\ShipmentImportBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="ShipmentRelationBP\ShipmentImportBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="ShipmentRelationBP\ShipmentImportBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="ShipmentRelationBP\ReceivementImportBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="ShipmentRelationBP\ReceivementImportBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="ShipmentRelationBP\ReceivementImportBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="ShipmentRelationBP\DeleteShipmentProcessBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="ShipmentRelationBP\DeleteShipmentProcessBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="ShipmentRelationBP\DeleteShipmentProcessBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="ShipmentRelationBP\DeleteReceivementProcessBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="ShipmentRelationBP\DeleteReceivementProcessBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="ShipmentRelationBP\DeleteReceivementProcessBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="ShipmentRelationBP\ReceivementApproveBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="ShipmentRelationBP\ReceivementApproveBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="ShipmentRelationBP\ReceivementApproveBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="ShipmentRelationBP\ShipmentApproveBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="ShipmentRelationBP\ShipmentApproveBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="ShipmentRelationBP\ShipmentApproveBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="ProductionRelationBP\ProductionOrderImportProcessBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="ProductionRelationBP\ProductionOrderImportProcessBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="ProductionRelationBP\ProductionOrderImportProcessBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="ProductionRelationBP\RcvProductionIssueProcessBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="ProductionRelationBP\RcvProductionIssueProcessBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="ProductionRelationBP\RcvProductionIssueProcessBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="ProductionRelationBP\ProductionOrderDeleteProcessBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="ProductionRelationBP\ProductionOrderDeleteProcessBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="ProductionRelationBP\ProductionOrderDeleteProcessBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="ProductionRelationBP\RejProductionIssueProcessBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="ProductionRelationBP\RejProductionIssueProcessBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="ProductionRelationBP\RejProductionIssueProcessBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="ProductionRelationBP\PickListImportBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="ProductionRelationBP\PickListImportBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="ProductionRelationBP\PickListImportBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="OtherBillImportBP\TransferApplyImportBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="OtherBillImportBP\TransferApplyImportBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="OtherBillImportBP\TransferApplyImportBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="OtherBillImportBP\PMRtnImportBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="OtherBillImportBP\PMRtnImportBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="OtherBillImportBP\PMRtnImportBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="OtherBillImportBP\ExpenseCostImportBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="OtherBillImportBP\ExpenseCostImportBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="OtherBillImportBP\ExpenseCostImportBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="OtherBillImportBP\TransferFormImport.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="OtherBillImportBP\TransferFormImportExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="OtherBillImportBP\TransferFormImportStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
          
	<Compile Include="PublicDataTransObj\PublicReturnDTO.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="PublicDataTransObj\PublicReturnDTOExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>  
    
	<Compile Include="WarehouseRelationBP\ProductionInWarehouseBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="WarehouseRelationBP\ProductionInWarehouseBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="WarehouseRelationBP\ProductionInWarehouseBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="WarehouseRelationBP\ProductionOutWarehouseBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="WarehouseRelationBP\ProductionOutWarehouseBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="WarehouseRelationBP\ProductionOutWarehouseBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="WarehouseRelationBP\MiscTranInProcessBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="WarehouseRelationBP\MiscTranInProcessBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="WarehouseRelationBP\MiscTranInProcessBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
      
	<Compile Include="WarehouseRelationBP\MiscTranOutProcessBP.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
	<Compile Include="WarehouseRelationBP\MiscTranOutProcessBPExtend.cs" > 
	    <Inproject>true</Inproject>
	</Compile>
    <Compile Include="WarehouseRelationBP\MiscTranOutProcessBPStub.cs" >
	    <Inproject>false</Inproject>
    </Compile>
    
  </ItemGroup>
  <ItemGroup>
    <ProjectReference Include="..\Deploy\UFIDA.U9.Cust.ChuangYeRenBillImportBP.Deploy.csproj">
      <Project>{75F2BB61-0FFD-402F-B2F9-5CAF0F818FAA}</Project>
      <Package>{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}</Package>
      <Name>UFIDA.U9.Cust.ChuangYeRenBillImportBP.Deploy</Name>
    </ProjectReference>

    <Reference Include="System" />
    <Reference Include="System.Data" />
    <Reference Include="System.Xml" />
    <Reference Include="System.ServiceModel" />
    <Reference Include="UBF.System, Version=1.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
        <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UBF.System.dll</HintPath>
        <SpecificVersion>False</SpecificVersion>
        <Private>False</Private>
   </Reference>
    <Reference Include="UFSoft.UBF.Util.Data, Version=2.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Util.Data.dll</HintPath>      
      <SpecificVersion>False</SpecificVersion>
       <Private>False</Private>
    </Reference>
    <Reference Include="UFSoft.UBF.Business, Version=2.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Business.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
       <Private>False</Private>
   </Reference>
    <Reference Include="UFSoft.UBF.PL, Version=2.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.PL.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
       <Private>False</Private>
    </Reference>
    <Reference Include="UFSoft.UBF.View.Query.dll, Version=2.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.View.Query.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
      <Private>False</Private>
    </Reference>
<Reference Include="UFSoft.UBF.Service, Version=1.0.0.0, Culture=neutral, processorArchitecture=MSIL">
      <SpecificVersion>False</SpecificVersion>
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Service.dll</HintPath>
       <Private>False</Private>
    </Reference>
    <Reference Include="UFSoft.UBF.Execution, Version=2.0.0.1, Culture=neutral, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Execution.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
       <Private>False</Private>
    </Reference> 
    <Reference Include="UFSoft.UBF.AopFrame, Version=2.0.0.1, Culture=neutral, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.AopFrame.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
        <Private>False</Private>
   </Reference> 
  <Reference Include="UBFEngineHosting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
    <SpecificVersion>False</SpecificVersion>
    <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UBFEngineHosting.dll</HintPath>
    <Private>False</Private>
  </Reference>

    <Reference Include="UFIDA.UBF.Query.CommonService.App.dll">
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFIDA.UBF.Query.CommonService.App.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
      <Private>False</Private>
    </Reference>


    <Reference Include="UFSoft.UBF.Sys.ResourceBP.Agent">
      <SpecificVersion>False</SpecificVersion>
      <HintPath>.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Sys.ResourceBP.Agent.dll</HintPath>
       <Private>False</Private>
    </Reference>
  </ItemGroup>

  <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
    <DocumentationFile>.\bin\Debug\UFIDA.U9.Cust.ChuangYeRenBillImportBP.XML</DocumentationFile>
  </PropertyGroup>

  <PropertyGroup Condition="">
    <PostBuildEvent>
      if exist "$(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\" goto copyfile
      Md "$(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\"
      :copyfile
      Copy $(TargetDir)\UFIDA.U9.Cust.ChuangYeRenBillImportBP.Deploy.dll $(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\
      Copy $(TargetDir)\UFIDA.U9.Cust.ChuangYeRenBillImportBP.Deploy.pdb $(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\
      Copy $(TargetDir)\UFIDA.U9.Cust.ChuangYeRenBillImportBP.dll $(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\
      Copy $(TargetDir)\UFIDA.U9.Cust.ChuangYeRenBillImportBP.pdb $(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\
      Copy $(TargetDir)\UFIDA.U9.Cust.ChuangYeRenBillImportBP.xml $(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\
      Copy $(TargetDir)\UFIDA.U9.Cust.ChuangYeRenBillImportBP.ubfsvc $(ProjectDir)\.\..\..\..\..\..\yonyou\UBFV50\U9.VOB.Product.Component\\Unconfiged\Component\\
    </PostBuildEvent>
   </PropertyGroup>
</Project>